@import '../../../../scss/variables';
.signInForm {
  display: grid;
  align-items: center;
  grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
  justify-self: center;
  max-width: 25rem;
  width: 85%;

  .email {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .password {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a {
    justify-self: end;
    color: $link-color-alt;
    font-weight: 400;
    font-size: $small-font-size;
    line-height: 0.875rem;
    letter-spacing: 0.28px;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  button {
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

@media screen and (max-width: 640px) {
}
