@import '../../scss/mixin';
@import '../../scss/variables';

.profileWrapper {
  @include sectionWrapper;

  grid-template-rows: 56px 1fr;
  grid-template-columns: 60px minmax(200px, 800px) minmax(20px, auto);

  .toggleTabs {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 920px) {
  .profileWrapper {
    grid-template-columns: 1.25rem 1fr 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .profileWrapper {
    row-gap: 1.25rem;
    .toggleTab {
      button {
        font-size: 12px;
      }
    }
  }
}
