@import '../../scss/mixin';
@import '../../scss/variables';

.profileWrapper {
  @include sectionWrapper;

  grid-template-rows: 56px 1fr;
  grid-template-columns: 60px minmax(200px, 800px) minmax(20px, auto);

  .toggleTab {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    button {
      width: 100%;
      height: 100%;
      border: none;
      background: $window-color;
      cursor: pointer;
      font-family: $primary-font;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      color: $inactive-color;
      transition: backgroung 0.3s ease-in-out;

      &:hover {
        background: lighten($color: $primary-color, $amount: 40%);
      }
      &:active {
        background: darken($color: $primary-color, $amount: 45%);
      }
    }
    .activeTab {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

@media screen and (max-width: 920px) {
  .profileWrapper {
    grid-template-columns: 1.25rem 1fr 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .profileWrapper {
    row-gap: 1.25rem;
    .toggleTab {
      button {
        font-size: 12px;
      }
    }
  }
}
