.profileWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    'nav header'
    'nav main';

  nav {
    grid-area: nav;
    grid-area: nav;
    background: #01134e;
    display: grid;
    grid-template-rows: 60px auto;
    align-items: center;


    a {
      justify-self: center;
    }

    div {
      display: grid;

      ul {
        display: grid;
        height: 570px;
        align-self: center;
        grid-template-rows: repeat(4, 75px);
        justify-content: center;
        align-items: center;

        
        li {
          width: 80px;
          height: 100%;
          display: grid;
          justify-content: center;
          align-content: center;
          position: relative;
        }
      }

        .activeLink::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 4px;
          background: #0AD69C;
        }
    }
  }

  header {
    grid-area: header;
    background: #ffffff;
    border-bottom: 1px solid #dae4f2;

    a {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.685714px;
      color: #252f48;
    }
  }

  main {
    width: 1150px;
    height: 570px;
    background-color: #dae4f2;
    align-self: center;
    justify-self: center;
  }
}
