@import '../../../scss/mixin';

.passwordRecoveryForm {
  @include windowForm;
  grid-template-rows: 2.5rem 2.5rem 2.5rem;

  .error {
    color: red;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
