@import '../../../scss/mixin';

.accountInfo {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
  grid-template-rows: 60px 40px;
  gap: 40px;
  justify-content: center;

  button {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 768px) {
  .accountInfo {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .accountInfo {
    grid-template-columns: 1fr;
    gap: 40px;

    button {
      grid-column-start: 1;
    }
  }
}
