.card {
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  max-height: 150px;
  height: 130px;
  background: #ffffff;
  border: 1px solid rgba(232, 232, 232, 0.33172);
  box-shadow: -2px 9px 30px rgba(23, 31, 76, 0.06);
  border-radius: 10px;
  transition: 0.2s ease-in-out;

  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;

  .silver {
    path:nth-child(2) {
      fill: #d4d4d4;
    }
    path:nth-child(3) {
      fill: #b8b6b6;
    }
  }

  .gold {
    path:nth-child(2) {
      fill: #ffe060;
    }
    path:nth-child(3) {
      fill: #f9c800;
    }
  }

  span:nth-child(2)::before {
    content: url('../../../../assets/images/map_marker.svg');
    height: 12px;
    padding-right: 5px;
  }

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #01134e;
  }

  .description {
    height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    align-items: center;

    .title {
      display: grid;
      grid-template-columns: auto 26px;
      align-items: center;
      justify-content: start;
      
      div {
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
      }
    }
  }
  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.046704px;
    color: #000000;
  }

  b {
    font-weight: 400;
    color: #01134e;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-self: center;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    grid-template-columns: 60px 1fr;

    h3 {
      font-size: 14px;
    }

    span {
      font-size: 11px;
      line-height: 11px;
    }

    b {
      font-size: 11px;
      line-height: 11px;
      color: #01134e;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      justify-self: center;
    }
  }
}
