@import '../../../scss/mixin';

.searchForm {
  width: 100%;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  grid-template-rows: repeat(3, 60px) 40px;
  row-gap: 30px;
  border-right: 1px solid #e7eaf5;

  button {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .searchForm {
    padding: 0 20px;
    grid-template-columns: 1fr;
    border-right: none;
  }
}
