@import '../../../../scss/variables';

.toggleTab {
  width: 100%;
  height: 100%;
  border: none;
  background: $window-color;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $inactive-color;
}

.activeTab {
  border-bottom: 2px solid $primary-color;
  color: $primary-color !important;
}

@media screen and (max-width: 480px) {
  .toggleTab {
    font-size: 0.8rem;
  }
}
