.passwordChecker {
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    span::after {
      display: block;
      content: '';
      height: 6px;
      margin-top: 6px;
      border-radius: 3px;
      background: gray;
    }
    .weak::after {
      background: #FF6359;
    }
    .medium::after {
      background: #FFB966;

    }
    .strong::after {
      background: #38ECAC;
    }
  }