@import '../../../scss/mixin';

.completeAccountForm {
  @include windowForm;
  grid-template-rows: 2.5rem 2rem 2.5rem 2rem 2rem 2rem 5rem 3rem;

  img {
    height: 60px;
    width: 210px;
  }
}

@media screen and (max-width: 420px) {
  .completeAccountForm {
    grid-template-rows: 2.5rem 2rem 2.5rem 2rem 2.5rem 2.5rem 5rem 3rem;
  }

  .checkboxGroup {
    display: grid;
    grid-template-rows: 1fr 1fr;

    a {
      padding-left: 30px;
    }
  }
}
