@import '../../../scss/variables';

.passRecovery {
  justify-self: center;
  // height: 460px;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 0.625rem;
  padding: 4.5rem 0 4.5rem 0;
  display: grid;
  grid-template-rows: 6.875rem auto;
  grid-template-columns: minmax(420px, 632px);

  h1 {
    font-family: $title-font;
    font-weight: 600;
    font-size: $h1-f-s;
    color: $title-color;
    justify-self: center;
    max-width: 400px;
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .passRecovery {
    margin: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .passRecovery {
    margin: 0 20px;
    grid-template-columns: minmax(200px, 632px);
  }
}