.silver {
    path:nth-child(2) {
      fill: #d4d4d4;
    }
    path:nth-child(3) {
      fill: #b8b6b6;
    }
  }

  .gold {
    path:nth-child(2) {
      fill: #ffe060;
    }
    path:nth-child(3) {
      fill: #f9c800;
    }
  }