@import './scss/variables';
/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  font-style: normal;
  line-height: 1.19rem;
}

#root {
  background-color: $body-color;
}

html,
body,
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.025rem;
}

h1 {
  font-family: $title-font;
  font-size: $h1-f-s;
  line-height: 2.125rem;
  font-weight: 600;
  color: $title-color;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: $link-color;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

//==============================

::-webkit-scrollbar {
  width: 8px;
  background: #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f5f7fa;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: #e0e6f0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7d0de;
}

html {
  scrollbar-color: #c7d0de  #e0e6f0;
  scrollbar-width: 50px;
  scrollbar-track-color: #f5f7fa;
}