@import './variables';

@mixin windowSection() {
  justify-self: center;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 0.625rem;
  padding: 4.5rem 0;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: minmax(26.25rem, 39rem);

  h1 {
    justify-self: center;
    max-width: 25rem;
    width: 85%;
  }

  @media screen and (max-width: 768px) {
    margin: 0 3.125rem;
  }

  @media screen and (max-width: 640px) {
    margin: 0 1.25rem;
    grid-template-columns: minmax(200px, 632px);
  }
}

@mixin windowForm() {
  display: grid;
  align-items: center;
  justify-self: center;
  max-width: 25rem;
  width: 85%;

  input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin loginLayout() {
  height: 100vh;
  display: grid;
  grid-template-rows: $header-height auto;
  background-color: $window-color;
  align-items: center;
}
