/*========== Colors ==========*/
$body-color: #f9fafc;
$window-color: #ffffff;

/*========== Height ==========*/

$header-height: 4.75rem;

/*========== Font and typography ==========*/
$body-font: 'Roboto', sans-serif;
$title-font: 'Exo 2', sans-serif;
$button-font: 'Exo 2', sans-serif;


$h1-f-s: 1.75rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;

$button-f-s: 1rem;




$normal-font-size: 1rem;
$small-font-size: 0.75rem;
$smaller-font-size: 0.813rem;

$fw-3: 300;

/*========== Margenes ==========*/
$mh-1: 8.75rem;

/*========== Colors ==========*/
$title-color: #002396;
$text-color: #222428;
$link-color: #2a74db;
$link-color-alt: #222428;
$error-color: red;; 

$button-color: #0ad69c;
$button-f-color: #FFFFFF;



